html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border: none;
}

.green {
  border-color: #6e8c62;
}

.greenword {
  color: #6e8c62;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before {
  border-color: #6e8c62;
}

.btn {
  color: #fff;
  background-color: #6e8c62;
}

footer {
  background-color: #70ad55;
  color: #fff;
}
