html {
  font-family: "Noto Serif", serif;
}

header {
  background-color: #70ad55;
  color: #fff;
}

fieldset {
  border: none;
}

input {
  border-color: #6e8c62;
}

select {
  border-color: #6e8c62;
}

textarea {
  border-color: #6e8c62;
}

hr {
  border-color: #70ad55;
}

.greenword {
  color: #6e8c62;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before {
  border-color: #6e8c62;
}

.btn {
  color: #fff;
  background-color: #6e8c62;
  border-color: #6e8c62;
}

footer {
  background-color: #70ad55;
  color: #fff;
}

@media only screen and (min-width: 38em) {

  .pad-l {
    padding-left: .5rem;
  }

  .pad-r {
    padding-right: .5rem;
  }

}
